.content-header {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-areas: "title toolbars"
                       "breadcrumbs toolbars";
  align-items: center;

  background: $content-header-bg;
  padding: 1rem 1.5rem;

  @include media-breakpoint-down(md) {
    padding: 0.75rem;
  }

  @include media-breakpoint-down(sm) {
    grid-template-areas: "title toolbars"
                         "breadcrumbs breadcrumbs";
  }
}

.content-header-title {
  grid-area: title;
  align-self: start;
  margin: 0.25rem 0;

  @include media-breakpoint-down(md) {
    margin: 0.125rem 0;
  }

  h1 {
    font-size: 2.5rem;
    font-weight: 200;

    margin: 0;

    @include media-breakpoint-down(md) {
      font-size: 2.25rem;
    }

    @include media-breakpoint-down(md) {
      font-size: 2rem;
    }
  }
}

.content-header-toolbars {
  grid-area: toolbars;

  display: grid;
  gap: 0.5rem;

  .btn {
    white-space: nowrap;
  }

  .btn-toolbar {
    flex-direction: row-reverse;
  }
}

.content-header-breadcrumbs {
  grid-area: breadcrumbs;

  .breadcrumb {
    margin: 0;
  }
}
