.app-footer {
  flex-shrink: 0;

  background: $footer-bg;
  color: $footer-color;

  padding: $footer-padding;
  font-size: 0.75rem;

  display: flex;
  justify-content: space-between;
}

@include media-breakpoint-down(md) {
  .app-footer {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
}
