// Core Trestle variables
@import "trestle/support";

// 3rd party dependencies
@import "trestle/bootstrap";
@import "trestle/font-awesome";
@import "trestle/ionicons";
@import "trestle/magnific-popup";
@import "trestle/flatpickr";
@import "trestle/select2";

// Core
@import "core/typography";
@import "core/layout";

// Components
@import "components/*";

// User customizations
@import "trestle/custom";
