<header class="content-header">
  <% if content_for?(:primary_toolbar) %>
    <div class="btn-toolbar primary-toolbar">
      <%= yield :primary_toolbar %>
    </div>
  <% end %>

  <% if content_for?(:secondary_toolbar) %>
    <div class="btn-toolbar secondary-toolbar">
      <%= yield :secondary_toolbar %>
    </div>
  <% end %>

  <h1>
    <%= yield :title %>
  </h1>

  <ol class="breadcrumb">
    <% breadcrumbs.each do |breadcrumb| %>
      <li class="breadcrumb-item<% if breadcrumb == breadcrumbs.last %> active<% end %>">
        <%= link_to_unless breadcrumb == breadcrumbs.last, breadcrumb.label, breadcrumb.path %>
      </li>
    <% end %>
  </ol>
</header>
