<% content_for(:title, admin.admin_name.titleize) %>

<%= render layout: "layout" do %>
  <p><%= t("trestle.onboarding.no_template", path: "app/views/#{admin.controller_path}/index.html.erb", default: "To customize this template, please create <code>%{path}</code>.").html_safe %></p>
<% end %>
