<%= container do %>
  <header class="main-content-header">
    <h2 class="m-0">Typography</h2>
  </header>

  <p class="text-primary mb-0">This line of text contains the text-primary class.</p>
  <p class="text-primary-emphasis">This line of text contains the text-primary-emphasis class.</p>

  <p class="text-secondary mb-0">This line of text contains the text-secondary class.</p>
  <p class="text-secondary-emphasis">This line of text contains the text-secondary-emphasis class.</p>

  <p class="mb-0"><a href="#">This line of text is formatted as a link.</a></p>
  <p class="link-primary">This line of text is a paragraph styled as a link.</p>
<% end %>
