.panel.panel-default
  .panel-heading
    %h3.panel-title This is the panel title

  .panel-body
    %p This is the panel body.

    %ul
      %li It also contains a list
      %li With a couple of items

  .panel-footer
    This is the panel footer.

.panel.panel-success
  .panel-heading
    %h3.panel-title A success panel

  .panel-body
    This also has some content.
