.alert {
  display: flex;
  align-items: center;

  padding-top: 15px;
  padding-bottom: 15px;

  .alert-icon {
    margin-right: 20px;
    font-size: 48px;
    line-height: 1;
  }

  h3 {
    margin-top: 0;
    margin-bottom: 2px;
    font-size: 22px;
    font-weight: 600;
  }

  p {
    margin-bottom: 0;
  }

  a {
    color: white;
  }

  @include mobile {
    padding: 5px 10px;

    .alert-icon {
      margin-right: 10px;
      font-size: 42px;
    }

    h3 {
      font-size: 18px;
      margin-top: 3px;
      margin-bottom: 0;
    }

    p {
      font-size: 12px;
    }
  }
}

.alert-dismissable {
  position: relative;

  .close {
    position: absolute;
    top: 8px;
    right: $alert-padding;
    opacity: 0.5;

    &:hover, &:focus {
      color: inherit;
      opacity: 0.75;
    }
  }
}

.toggle-debug-errors {
  &:hover, &:focus {
    text-decoration: none;
  }

  &:after {
    @extend .ion;
    content: $ionicon-var-chevron-down;
    font-size: 10px;
    margin-left: 5px;
  }
}

.debug-errors {
  overflow: hidden;

  ul {
    list-style: none;
    margin: 5px 0 0 0;
    padding: 0 0 0 5px;
    border-left: 4px solid rgba(white, 0.25);
  }
}
