@mixin button-child-visible($prefix, $selector) {
  &.#{$prefix}-visible-xs,
  &.#{$prefix}-visible-sm,
  &.#{$prefix}-visible-md,
  &.#{$prefix}-visible-lg {
    #{$selector} { display: none; }
  }

  &.#{$prefix}-visible-xs {
    @media (max-width: $screen-xs-max) {
      #{$selector} { display: inline-block; }
      @content;
    }
  }

  &.#{$prefix}-visible-sm {
    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      #{$selector} { display: inline-block; }
      @content;
    }
  }

  &.#{$prefix}-visible-md {
    @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
      #{$selector} { display: inline-block; }
      @content;
    }
  }

  &.#{$prefix}-visible-lg {
    @media (min-width: $screen-lg-min) {
      #{$selector} { display: inline-block; }
      @content;
    }
  }
}

@mixin button-child-hidden($prefix, $selector) {
  &.#{$prefix}-hidden-xs {
    @media (max-width: $screen-xs-max) {
      #{$selector} { display: none; }
      @content;
    }
  }

  &.#{$prefix}-hidden-sm {
    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      #{$selector} { display: none; }
      @content;
    }
  }

  &.#{$prefix}-hidden-md {
    @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
      #{$selector} { display: none; }
      @content;
    }
  }

  &.#{$prefix}-hidden-lg {
    @media (min-width: $screen-lg-min) {
      #{$selector} { display: none; }
      @content;
    }
  }
}

.btn {
  border-width: 0;
  box-shadow: none;

  &.loading {
    &::before {
      @extend .fa;
      @extend .fa-spin;
      content: $fa-var-spinner;
      margin-right: 10px;
    }
  }

  > i + .btn-label {
    margin-left: 5px;
  }

  &.icon-visible-xs,
  &.icon-visible-sm,
  &.icon-visible-md,
  &.icon-visible-lg {
    > i + .btn-label {
      margin-left: 0;
    }
  }

  @include button-child-visible('icon', '> i') {
    > i + .btn-label {
      margin-left: 5px;
    }
  };

  @include button-child-hidden('icon', '> i') {
    > i + .btn-label {
      margin-left: 0;
    }
  };

  @include button-child-visible('label', '> .btn-label');
  @include button-child-hidden('label', '> .btn-label');
}

.btn-delete {
  color: $btn-danger-bg;

  &:hover, &:focus {
    color: $btn-danger-color;
    background: $btn-danger-bg;
  }
}

.btn-new-resource {
  .btn-label {
    @include sr-only;
  }
}
