.content-header {
  @extend .clearfix;
  background: $content-header-background;
  padding: 5px 20px;

  .btn-toolbar {
    @extend .pull-right;
    clear: right;
  }

  .primary-toolbar {
    margin-top: 16px;

    .btn {
      @extend .btn-lg;
      font-size: 20px;
      padding: 8px 16px;
      border-radius: $border-radius-base;
    }
  }

  .secondary-toolbar {
    margin-top: 8px;

    .btn {
      font-size: 12px;
      padding: 4px 10px;

      i {
        font-size: 11px;
      }
    }
  }
}

.main-content-area {
  margin: 20px;
}

.main-content-container {
  background: white;
  display: flex;
}

.main-content,
.main-content-sidebar {
  padding: 20px;
}

.main-content {
  @extend .tab-content;

  flex: 1;
  min-width: 0;
}

.main-content-sidebar {
  background: $content-sidebar-background;
  flex: 0 0 $content-sidebar-width;
}

.utilities {
  @include clearfix;
  margin-bottom: 10px;
}

@include mobile {
  .content-header {
    padding: 0 10px;
  }

  .main-content-area {
    margin: 10px;
  }

  .main-content-container {
    flex-direction: column;
  }

  .main-content-sidebar {
    flex-basis: 0;
  }

  .main-content,
  .main-content-sidebar {
    padding: 15px;
  }
}
