.content-header {
  @extend .clearfix;
  background: rgba(white, 0.6);
  padding: 5px 20px;

  .btn-toolbar {
    @extend .pull-right;
    clear: right;
  }

  .primary-toolbar {
    margin-top: 16px;

    .btn {
      @extend .btn-lg;
      font-size: 20px;
      padding: 8px 16px;
      border-radius: $border-radius-base;
    }
  }

  .secondary-toolbar {
    margin-top: 8px;

    .btn {
      font-size: 12px;
      padding: 4px 10px;

      i {
        font-size: 11px;
      }
    }
  }
}

.main-content-container {
  margin: 20px;

  &.with-sidebar {
    display: flex;
    align-items: flex-start;

    .main-content-wrapper {
      flex: 1 0 auto;
      width: 0;
    }
  }
}

.main-content {
  @extend .tab-content;

  padding: 20px;
  background: white;
}

.content-sidebar {
  background: rgba(white, 0.6);
  padding: 20px;
  margin-left: 20px;

  flex: 0 0 $content-sidebar-width;
}

@include mobile {
  .content-header {
    padding: 0 10px;
  }

  .main-content-container {
    margin: 10px;
  }

  .main-content {
    padding: 10px;
  }
}
