.content-header {
  @extend .clearfix;
  background: rgba(white, 0.6);
  padding: 0 10px;
}

.main-content-container {
  margin: 10px;
}

.main-content {
  @extend .tab-content;
  @extend .clearfix;

  padding: 10px;
  background: white;
}

@media (min-width: $screen-sm-min) {
  .content-header {
    padding: 5px 20px;
  }

  .main-content-container {
    margin: 20px;
  }

  .main-content {
    padding: 20px;
  }
}
