.content-header {
  display: flex;
  justify-content: space-between;

  background: $content-header-background;
  padding: 20px;

  h1 {
    font-weight: 300;
    margin-top: 0;
  }

  .breadcrumb {
    margin-bottom: 0;
  }

  .content-header-title {
    margin: 5px 0;
  }

  .btn-toolbar {
    text-align: right;
  }

  .secondary-toolbar {
    margin-top: 8px;

    @include mobile {
      margin-top: 6px;
    }
  }
}

.main-content-area {
  margin: 20px;
}

.main-content-container {
  background: white;
  display: flex;
  margin-bottom: 20px;
}

.main-content,
.main-content-sidebar {
  padding: 20px;
}

.main-content {
  @extend .tab-content;

  flex: 1;
  min-width: 0;
}

.main-content-header,
.main-content-footer {
  display: flex;
  justify-content: space-between;
}

.main-content-header {
  margin: -20px -20px 20px !important;
  padding: $main-content-header-padding;
  background: $main-content-header-background;
  border-bottom: $main-content-header-border;
}

.main-content-footer {
  margin: 20px -20px -20px !important;
  padding: $main-content-footer-padding;
  background: $main-content-footer-background;
  border-top: $main-content-footer-border;
}

.main-content,
.main-content-sidebar,
.tab-pane {
  > *:first-child {
    margin-top: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }
}

.main-content-sidebar {
  background: $content-sidebar-background;
  flex: 0 0 $content-sidebar-width;
  max-width: $content-sidebar-width;
}

.utilities {
  @include clearfix;
  margin-bottom: 10px;
}

@include mobile {
  .content-header {
    padding: 10px;
  }

  .main-content-area {
    margin: 10px;
  }

  .main-content-container {
    flex-direction: column;
    margin-bottom: 10px;
  }

  .main-content-sidebar {
    flex-basis: 0;
    max-width: none;
  }

  .main-content,
  .main-content-sidebar {
    padding: 15px;
  }

  .main-content-header,
  .main-content-footer {
    flex-direction: column;
    align-items: center;
  }

  .main-content-header {
    margin: -15px -15px 15px !important;
    padding-left: 15px;
    padding-right: 15px;
  }

  .main-content-footer {
    margin: 15px -15px -15px !important;
    padding-left: 15px;
    padding-right: 15px;
  }
}
