.dropdown-menu {
  margin-top: 8px;
  font-size: 13px;

  box-shadow: $dropdown-shadow;

  &:before, &:after {
    content: '';
    display: inline-block;
    position: absolute;
  }

  &:before {
    top: -$dropdown-arrow-outer-width;
    left: 12px;

    border-right: $dropdown-arrow-width solid transparent;
    border-bottom: $dropdown-arrow-width solid $dropdown-fallback-border;
    border-left: $dropdown-arrow-width solid transparent;
    border-bottom-color: $dropdown-border;
  }

  &:after {
    top: -$dropdown-arrow-width;
    left: 11px;

    border-right: $dropdown-arrow-outer-width solid transparent;
    border-bottom: $dropdown-arrow-outer-width solid white;
    border-left: $dropdown-arrow-outer-width solid transparent;
  }

  &.dropdown-menu-right {
    &:before {
      left: auto;
      right: 12px;
    }

    &:after {
      left: auto;
      right: 11px;
    }
  }
}
