.form-group {
  position: relative;
}

.help-block {
  font-size: 13px;

  @media (min-width: $screen-sm-min) {
    &.floating {
      position: absolute;
      top: 0;
      right: 0;
      margin: 2px 0;
    }
  }
}

.select2-container--bootstrap {
  // This is required to ensure the select field is rendered at full width
  // within Bootstrap tabs that are hidden when the page is first loaded.
  // See: https://github.com/select2/select2/issues/4220
  width: 100% !important;
}

.date-select,
.datetime-select,
.time-select {
  select {
    display: inline-block;
    width: auto;
  }

  .select2-container--bootstrap {
    display: inline-block;
    width: auto !important;
  }
}

.control-label {
  display: block;

  & + .checkbox {
    margin-top: 0;
  }
}
