// Convert input groups to use flexbox instead of table layout.

.input-group {
  display: flex;

  .field_with_errors {
    flex: 1;

    .form-control {
      border-radius: $input-border-radius;
    }

    &:not(:last-child) .form-control {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:not(:first-child) .form-control {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}

.input-group-addon,
.input-group-btn {
  width: auto;
  display: flex;
  align-items: center;
}

.input-group-btn {
  > .btn {
    border-width: 1px;
  }
}