.media-grid {
  @extend .list-unstyled;
  @include make-row;

  margin-bottom: -20px !important;

  li {
    @include make-xs-column(6);
    @include make-sm-column(4);
    @include make-md-column(3);

    margin-bottom: 20px !important;
  }

  figure {
    @include aspect-ratio(4 / 3);
    background: #eee;
    overflow: hidden;

    display: flex;
    align-items: center;

    img {
      @include fill-area;

      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  figure.fill {
    img {
      object-fit: cover;
    }
  }

  figure.zoom {
    img {
      transition: transform 250ms;
    }

    &:hover img {
      transform: scale(1.05);
    }
  }

  a {
    cursor: zoom-in;
  }
}

.media-grid-sm {
  li {
    @include make-xs-column(4);
    @include make-sm-column(3);
    @include make-md-column(2);
  }
}

.media-grid-lg {
  li {
    @include make-xs-column(12);
    @include make-sm-column(6);
    @include make-md-column(4);
  }
}

@include mobile {
  .media-grid {
    margin-left: -5px;
    margin-right: -5px;

    margin-bottom: -10px !important;

    li {
      padding-left: 5px;
      padding-right: 5px;

      margin-bottom: 10px !important;
    }
  }
}
