.modal {
  &.background {
    .modal-dialog {
      transform: scale(0.9);
      opacity: 0.75;
    }
  }
}

.modal-content {
  border: none;
  border-radius: 0;

  .modal.loading & {
    min-height: 100px;

    display: flex;
    align-items: center;
    justify-content: center;

    &:after {
      @extend .fa;
      @extend .fa-spin;
      content: $fa-var-spinner;

      font-size: 32px;
      opacity: 0.25;
    }
  }
}

.modal-header {
  background: $theme-bg;
  border-bottom: none;

  .close {
    opacity: 0.75;

    &, &:hover, &:focus {
      color: white;
    }

    &:hover, &:focus {
      opacity: 1;
    }
  }

  .modal.error & {
    background: $error-bg;
  }
}

.modal-title {
  font-size: 18px;
  font-weight: 500;
  text-shadow: rgba(black, 0.5) 0 1px 1px;
  color: white;
}

.modal-tabs .nav-tabs {
  background: $body-bg;
  padding: 10px 15px 0 15px;
}

.modal-flash {
  .alert {
    margin-bottom: 0;
    border-radius: 0;
    border-width: 0 0 1px 0;

    padding-top: 10px;
    padding-bottom: 10px;

    .alert-icon {
      font-size: 40px;
      margin-right: 15px;
    }

    h3 {
      font-size: 18px;
    }

    p {
      font-size: 13px;
    }
  }
}

.modal-body {
  @extend .tab-content;

  pre.exception {
    max-height: 75vh;
  }
}

.modal-footer {
  background: $modal-footer-background;
  border-color: $modal-footer-border-color;

  .primary-toolbar {
    float: right;
  }

  .secondary-toolbar {
    float: left;
  }
}
