.pagination-container {
  margin-left: auto;
  text-align: right;

  p {
    font-size: 12px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px 0 0;
  }

  strong {
    color: black;
  }

  .pagination {
    vertical-align: middle;
    margin: 0;

    a {
      font-weight: normal;
    }
  }
}

@include mobile {
  .pagination-container {
    margin-right: auto;

    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;

    .pagination {
      margin: 0 auto;
      order: -1;
    }

    p {
      display: block;
      margin-right: 0;
      margin-top: 5px;
    }
  }
}
