.app-sidebar {
  background: $sidebar-bg;

  width: $sidebar-width;
  flex-shrink: 0;

  position: relative;

  .toggle-sidebar {
    position: absolute;
    bottom: 0;
    left: 0;

    background: rgba(black, 0.25);
    color: rgba(white, 0.5);
    border: none;

    font-size: 24px;
    padding: 10px 20px;
    outline: none;

    opacity: 0.75;

    &:hover {
      opacity: 1.0;
    }

    &:after {
      @extend .fa;
      content: $fa-var-angle-double-left;
    }
  }
}

.app-sidebar-header {
  height: $header-height;
  background: $theme-bg;

  display: flex;
  align-items: center;

  .navbar-toggle {
    float: left;
    margin-left: $grid-gutter-width / 2;
    padding: 7px 6px;

    border: 1px solid rgba(white, 0.15);
    border-radius: 4px;

    &:hover {
      background: rgba(white, 0.05);
    }
  }

  .navbar-brand {
    flex: 1;

    height: auto;
    padding: 5px 15px;

    font-size: 20px;
    font-weight: 500;
    text-shadow: rgba(black, 0.5) 0 1px 1px;
    color: white;
  }

  .icon-bar {
    background: white;
    width: 26px;
    height: 3px;
  }
}

@include mobile {
  html, body {
    overflow-x: hidden;
  }

  .app-wrapper {
    margin-left: -$sidebar-width;
    margin-right: 0;

    &.animate {
      transition: all $sidebar-transition-duration ease-out;
      transition-property: margin-left, margin-right;
    }
  }

  .mobile-nav-expanded {
    .app-wrapper {
      margin-left: 0;
      margin-right: -$sidebar-width;
    }
  }

  .app-sidebar {
    position: static;

    .toggle-sidebar {
      display: none;
    }
  }

  .app-sidebar-header {
    position: absolute;
    top: 0;
    left: $sidebar-width;
    right: 0;
    z-index: 1;

    .navbar-brand {
      text-align: center;
      margin-right: 65px;
    }
  }
}

@include tablet {
  .app-sidebar {
    width: $sidebar-width-collapsed;

    .app-sidebar-header {
      text-align: center;
    }

    .toggle-sidebar:after {
      content: $fa-var-angle-double-right;
    }

    &.expanded {
      width: $sidebar-width;

      .app-sidebar-header {
        text-align: left;

        .visible-md-block {
          display: none !important;
        }

        .visible-lg-block {
          display: block !important;
        }
      }

      .toggle-sidebar:after {
        content: $fa-var-angle-double-left;
      }
    }
  }
}

@include desktop {
  .app-sidebar {
    &.collapsed {
      width: $sidebar-width-collapsed;

      .app-sidebar-header {
        text-align: center;

        .visible-md-block {
          display: block !important;
        }

        .visible-lg-block {
          display: none !important;
        }
      }

      .toggle-sidebar:after {
        content: $fa-var-angle-double-right;
      }
    }
  }
}
