.app-sidebar {
  width: $sidebar-width;
  flex-shrink: 0;

  background: $sidebar-bg;
}

.app-sidebar-header {
  height: $header-height;
  background: $theme-bg;
}

@media (min-width: $screen-sm-min) and (max-width: $screen-md-max) {
  .app-sidebar {
    width: $sidebar-width-collapsed;
  }
}
