.sort {
  &, &:hover, &:focus {
    color: $text-color;
    text-decoration: none;
  }

  &:after {
    @extend .ion;
    content: $ionicon-var-navicon-round;

    font-size: 75%;
    margin-left: 5px;
    opacity: 0.25;
  }

  &:hover:after {
    opacity: 0.5;
  }

  &.active:after {
    opacity: 1.0;
  }

  &.sort-asc:after {
    content: $ionicon-var-chevron-up;
  }

  &.sort-desc:after {
    content: $ionicon-var-chevron-down;
  }
}
