.nav-tabs {
  border-bottom: none;

  > li {
    margin-bottom: 0;
  }

  > li > a {
    margin-right: 4px;
    padding: 10px 20px;

    border: none !important;
    border-radius: 0;

    background-color: $gray-lighter;
    color: $gray;

    font-weight: 500;
  }

  > li.active > a {
    &, &:hover, &:focus {
      background-color: white;
      color: $text-color;
    }
  }

  > li.pull-right > a {
    margin-right: 0;
    margin-left: 4px;
  }

  .badge {
    font-size: 9px;
    padding: 4px 5px;
    vertical-align: 1px;
  }
}

@media (max-width: $screen-xs-max) {
  .nav-tabs {
    > li > a {
      font-size: 13px;
      padding: 10px;
      margin-right: 2px;
    }

    > li.pull-right {
      float: left !important;

      > a {
        margin-right: 2px;
        margin-left: 0;
      }
    }

    .badge {
      font-size: 8px;
      padding: 3px 4px;
    }
  }
}
