.nav-tabs {
  border-bottom: none;

  display: flex;
  overflow-x: auto;
  white-space: nowrap;

  &::-webkit-scrollbar {
    height: 4px;
  }

  &::-webkit-scrollbar-track {
    background: $gray-lighter;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(black, 0.1);
  }

  > li {
    margin-bottom: 0;
  }

  > li > a {
    margin-right: 4px;
    padding: 10px 20px;

    border: none !important;
    border-radius: 0;

    background-color: $gray-lighter;
    color: $gray;

    font-weight: 500;
  }

  > li.active > a {
    &, &:hover, &:focus {
      background-color: white;
      color: $text-color;
    }
  }

  > li.pull-right {
    margin-left: auto;

    & + li.pull-right {
      margin-left: 0;
    }

    > a {
      margin-right: 0;
      margin-left: 4px;
    }
  }

  .badge, .label {
    font-size: 9px;
    vertical-align: 1px;
    margin-left: 5px;
  }
}

@include mobile {
  .nav-tabs {
    > li > a {
      font-size: 13px;
      padding: 10px;
      margin-right: 2px;
    }

    > li.pull-right {
      margin-left: 0;

      > a {
        margin-right: 2px;
        margin-left: 0;
      }
    }

    .badge, .label {
      font-size: 8px;
    }
  }
}
