<%= container do |c| %>
  <% c.sidebar class: "order-first" do %>
    <h2>Contextual text classes</h2>
    <p>Convey meaning through color with a handful of color utility classes.</p>
  <% end %>

  <p class="text-primary">This line of text contains the text-primary class.</p>
  <p class="text-secondary">This line of text contains the text-secondary class.</p>
  <p class="text-success">This line of text contains the text-success class.</p>
  <p class="text-danger">This line of text contains the text-danger class.</p>
  <p class="text-warning">This line of text contains the text-warning class.</p>
  <p class="text-info">This line of text contains the text-info class.</p>
  <p class="text-light bg-dark">This line of text contains the text-light and bg-dark classes.</p>
  <p class="text-dark">This line of text contains the text-dark class.</p>
  <p class="text-muted">This line of text contains the text-muted class.</p>
  <p class="text-white bg-dark">This line of text contains the text-white and bg-dark classes.</p>
<% end %>
