<%= link_to "Debug errors", "#debug-errors", class: "toggle-debug-errors small", data: { toggle: "collapse" } %>
<div id="debug-errors" class="debug-errors collapse">
  <ul>
    <% instance.errors.each do |key, message| %>
      <li class="small"><tt><%= key %>:</tt> <%= message %></li>
    <% end %>
  </ul>
</div>
