@import "~bootstrap/scss/bootstrap";
@import "~magnific-popup/dist/magnific-popup";
@import "~flatpickr/dist/flatpickr";
@import "~select2/src/scss/core";
@import "~select2-theme-bootstrap4/src/select2-bootstrap";
