<%= container do |c| %>
  <% c.sidebar class: "order-first" do %>
    <h2>Badges</h2>
    <p>Add any of the <code>.bg-*</code> background utility classes to change the appearance of a badge.</p>
  <% end %>

  <div class="mb-3">
    <span class="badge bg-primary">Primary</span>
    <span class="badge bg-secondary">Secondary</span>
    <span class="badge bg-success">Success</span>
    <span class="badge bg-danger">Danger</span>
    <span class="badge bg-warning">Warning</span>
    <span class="badge bg-info">Info</span>
    <span class="badge bg-light">Light</span>
    <span class="badge bg-dark">Dark</span>
  </div>

  <div class="mb-3">
    <p>Use the <code>.rounded-pill</code> modifier class to make badges more rounded.</p>
    <span class="badge rounded-pill bg-primary">Primary</span>
    <span class="badge rounded-pill bg-secondary">Secondary</span>
    <span class="badge rounded-pill bg-success">Success</span>
    <span class="badge rounded-pill bg-danger">Danger</span>
    <span class="badge rounded-pill bg-warning">Warning</span>
    <span class="badge rounded-pill bg-info">Info</span>
    <span class="badge rounded-pill bg-light">Light</span>
    <span class="badge rounded-pill bg-dark">Dark</span>
  </div>
<% end %>
