<% content_for(:title, "Welcome to Trestle") %>

<%= render "trestle/admin/header" %>

<div class="main-content-container">
  <div class="main-content">
    <p>To begin, please create an admin with <code>app/admin</code>.</p>
  </div>
</div>
