// Theme colors to override

$theme-colors: (
  "primary": #4d6bb2
) !default;

$primary: theme-color("primary") !default;

$white: #fff !default;
$black: #000 !default;

// The contrast ratio to reach against white, to determine if color changes from "light" to "dark".
$min-contrast-ratio: 1.7;

// Customize the light and dark text colors for use in our color contrast function.
$color-contrast-dark:  $black !default;
$color-contrast-light: $white !default;

// Characters which are escaped by the escape-svg function
$escaped-characters: (
  ("<", "%3c"),
  (">", "%3e"),
  ("#", "%23"),
  ("(", "%28"),
  (")", "%29"),
) !default;

// Prefix for :root CSS variables
$variable-prefix: bs- !default;


// Body

$body-bg: $white;


// Links

$link-color:            $primary !default;
$link-shade-percentage: 20% !default;
$link-hover-color:      shift-color($link-color, $link-shade-percentage) !default;


// Components

$component-active-bg: $primary !default;


// Tables

$table-striped-bg-factor: .05 !default;
$table-active-bg-factor:  .1 !default;
$table-hover-bg-factor:   .075 !default;
$table-border-factor:     .1 !default;

$table-bg-scale:          -80% !default;

$table-variants: (
  "primary": shift-color($primary, $table-bg-scale)
) !default;


// Buttons + Forms

$input-btn-focus-width:      .2rem !default;
$input-btn-focus-color:      rgba($component-active-bg, 0.25) !default;
$input-btn-focus-box-shadow: 0 0 0 $input-btn-focus-width $input-btn-focus-color !default;


// Buttons

$btn-box-shadow:             inset 0 1px 0 rgba($white, .15), 0 1px 1px rgba($black, .075) !default;
$btn-focus-width:            $input-btn-focus-width !default;
$btn-focus-box-shadow:       $input-btn-focus-box-shadow !default;
$btn-active-box-shadow:      inset 0 3px 5px rgba($black, .125) !default;

$btn-link-color:       $link-color !default;
$btn-link-hover-color: $link-hover-color !default;

$btn-hover-bg-shade-amount:      15% !default;
$btn-hover-bg-tint-amount:       15% !default;
$btn-hover-border-shade-amount:  20% !default;
$btn-hover-border-tint-amount:   10% !default;
$btn-active-bg-shade-amount:     20% !default;
$btn-active-bg-tint-amount:      20% !default;
$btn-active-border-shade-amount: 25% !default;
$btn-active-border-tint-amount:  10% !default;


// Forms

$input-focus-border-color: tint-color($component-active-bg, 50%) !default;
$input-focus-width:        $input-btn-focus-width !default;
$input-focus-box-shadow:   $input-btn-focus-box-shadow !default;

$form-check-input-focus-border:         $input-focus-border-color !default;
$form-check-input-focus-box-shadow:     $input-btn-focus-box-shadow !default;

$form-check-input-checked-bg-color:     $component-active-bg !default;
$form-check-input-checked-border-color: $form-check-input-checked-bg-color !default;

$form-check-input-indeterminate-bg-color:     $component-active-bg !default;
$form-check-input-indeterminate-border-color: $form-check-input-indeterminate-bg-color !default;

$form-switch-focus-color:    $input-focus-border-color !default;
$form-switch-focus-bg-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3' fill='#{$form-switch-focus-color}'/></svg>") !default;

$form-select-focus-border-color: $input-focus-border-color !default;
$form-select-focus-width:        $input-focus-width !default;
$form-select-focus-box-shadow:   0 0 0 $form-select-focus-width $input-btn-focus-color !default;

$form-range-thumb-bg:               $component-active-bg !default;
$form-range-thumb-active-bg:        tint-color($component-active-bg, 70%) !default;
$form-range-thumb-focus-box-shadow: 0 0 0 1px $body-bg, $input-focus-box-shadow !default;


// Navs

$nav-link-color:           $link-color !default;
$nav-link-hover-color:     $link-hover-color !default;

$nav-pills-link-active-bg: $component-active-bg !default;


// Navbar

$sidebar-mobile-toggle-color:   white;
$sidebar-mobile-toggle-icon-bg: str-replace(url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='#{$sidebar-mobile-toggle-color}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"), "#", "%23");

$sidebar-mobile-toggle-bg:           transparent;
$sidebar-mobile-toggle-border-width: 1px;
$sidebar-mobile-toggle-border-color: rgba($sidebar-mobile-toggle-color, 0.15);
$sidebar-mobile-toggle-border:       $sidebar-mobile-toggle-border-width solid $sidebar-mobile-toggle-border-color;

$sidebar-mobile-toggle-active-bg:           rgba($sidebar-mobile-toggle-color, 0.1);
$sidebar-mobile-toggle-active-border-width: $sidebar-mobile-toggle-border-width;
$sidebar-mobile-toggle-active-border-color: $sidebar-mobile-toggle-border-color;
$sidebar-mobile-toggle-active-border:       $sidebar-mobile-toggle-border-width solid $sidebar-mobile-toggle-active-border-color;


// Dropdowns

$dropdown-link-active-bg:      $component-active-bg !default;
$dropdown-dark-link-active-bg: $dropdown-link-active-bg !default;


// Pagination

$pagination-color:               $link-color !default;

$pagination-focus-color:         $link-hover-color !default;
$pagination-focus-box-shadow:    $input-btn-focus-box-shadow !default;

$pagination-hover-color:         $link-hover-color !default;

$pagination-active-bg:           $component-active-bg !default;
$pagination-active-border-color: $pagination-active-bg !default;


// Accordion

$accordion-button-active-bg:          tint-color($component-active-bg, 90%) !default;
$accordion-button-active-color:       shade-color($primary, 10%) !default;

$accordion-button-focus-border-color: $input-focus-border-color !default;
$accordion-button-focus-box-shadow:   $btn-focus-box-shadow !default;

$accordion-icon-active-color:         $accordion-button-active-color !default;
$accordion-button-active-icon:        url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$accordion-icon-active-color}'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !default;


// Alerts

$alert-bg-scale:     20% !default;
$alert-border-scale: 25% !default;
$alert-color-scale:  -100% !default;


// Progress bars

$progress-bar-bg: $primary !default;


// List group

$list-group-item-bg-scale:       -80% !default;
$list-group-item-color-scale:    40% !default;

$list-group-active-bg:           $component-active-bg !default;
$list-group-active-border-color: $list-group-active-bg !default;


// Close

$btn-close-focus-shadow: $input-btn-focus-box-shadow !default;


// Select2

$s2bs5-focus-border-color: $form-select-focus-border-color !default;
$s2bs5-focus-width:        $form-select-focus-width !default;
$s2bs5-focus-box-shadow:   $form-select-focus-box-shadow !default;

$s2bs5-item-active-bg:     tint-color($primary, 90%) !default;


// Trestle

$theme-bg:       null !default;
$theme-bg-color: shade-color($primary, 30%) !default;

$sidebar-active-border-color: $primary !default;

$tag-bg:           tint-color($primary, 15%) !default;
$tag-color:        color-contrast($tag-bg) !default;
$tag-border:       $primary !default;

$tag-hover-bg:     $primary !default;
$tag-hover-color:  color-contrast($tag-hover-bg) !default;
$tag-hover-border: shade-color($primary, 10%) !default;
