$theme-colors: null !default;

// Import deprecated user-defined variables
@import "trestle/_variables";

$brand-primary: false !default;

@if $brand-primary != false {
  $theme-colors: (
    "primary": $brand-primary
  );
}

// Import user-defined theme variables
@import "trestle/_theme";

$primary: false !default;

@if $primary != false {
  $theme-colors: (
    "primary": $primary
  );
} @else {
  // $primary not provided -- reset to null to allow default override in _defaults.scss
  $primary: null;
}
