%textured-bg {
  background-image: url(../images/bright-squares.png), linear-gradient(rgba(white, 0.05), rgba(black, 0.05));
  background-repeat: repeat, no-repeat;
}

@each $variation, $lightness in $theme-bg-variations {
  .theme-bg-#{$variation} {
    @extend %textured-bg;
    background-color: adjust-theme-hsl(primary, $lightness: $lightness);
  }
}

.theme-bg {
  @extend .theme-bg-default;
}

.error-bg {
  @extend %textured-bg;
  background-color: $error-bg;
}
