%textured-bg {
  background-image: url(../images/bright-squares.png), linear-gradient(rgba(white, 0.05), rgba(black, 0.05));
  background-repeat: repeat, no-repeat;
}


.theme-bg {
  @extend %textured-bg;
  background-color: $theme-bg;
}


.theme-bg-dark {
  @extend %textured-bg;
  background-color: shade-color($theme-bg, 25%);
}

.theme-bg-darker {
  @extend %textured-bg;
  background-color: shade-color($theme-bg, 40%);
}

.theme-bg-darkest {
  @extend %textured-bg;
  background-color: shade-color($theme-bg, 55%);
}


.theme-bg-light {
  @extend %textured-bg;
  background-color: tint-color($theme-bg, 15%);
}

.theme-bg-lighter {
  @extend %textured-bg;
  background-color: tint-color($theme-bg, 30%);
}

.theme-bg-lightest {
  @extend %textured-bg;
  background-color: tint-color($theme-bg, 45%);
}


.error-bg {
  @extend %textured-bg;
  background-color: $error-bg;
}
