.breadcrumb {
  --bs-breadcrumb-font-size: 0.85rem;
  --bs-breadcrumb-item-padding-x: 0.35rem;

  @include media-breakpoint-down(md) {
    --bs-breadcrumb-font-size: 0.75rem;
    --bs-breadcrumb-item-padding-x: 0.25rem;
  }
}

.breadcrumb-item {
  a {
    font-weight: normal;
  }

  &.active a {
    color: inherit;
  }
}
