.form-group {
  position: relative;

  &.has-error {
    > .control-label {
      color: $form-feedback-invalid-color;
    }

    > .invalid-feedback {
      display: block;
    }
  }
}

ul.invalid-feedback {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}

.form-text {
  color: $form-text-color;
  font-size: 0.9rem;

  @include media-breakpoint-up(sm) {
    &.floating {
      position: absolute;
      top: 0;
      right: 0;
      margin: 2px 0;
    }
  }
}

.control-label {
  font-weight: bold;
  display: block;
}
