.select2-dropdown {
  z-index: $zindex-modal + 1;
}

.select2-container--bootstrap-5 {
  width: auto !important;

  .select2-dropdown {
    .select2-search {
      padding: $s2bs5-padding-y $s2bs5-padding-y;

      .select2-search__field {
        padding: $s2bs5-padding-y $s2bs5-padding-y;
      }
    }
  }

  .select2-selection--multiple {
    padding: $s2bs5-padding-y $s2bs5-padding-y;

    .select2-selection__rendered {
      gap: $s2bs5-padding-y;

      .select2-selection__choice {
        background: #eee;
        margin: 0;
      }

      .select2-selection__choice__remove {
        cursor: pointer;
      }
    }

    .select2-search--inline {
      width: auto;
    }
  }

  &.select2-container--open {
    $inset: -$input-btn-focus-width;

    &.select2-container--below {
      .select2-selection {
        clip-path: inset($inset $inset 0 $inset);
      }
    }

    &.select2-container--above {
      .select2-selection {
        clip-path: inset(0 $inset $inset $inset);
      }
    }

    .select2-dropdown {
      border-color: $s2bs5-focus-border-color;
      box-shadow: $s2bs5-focus-box-shadow;
    }

    .select2-dropdown--below {
      clip-path: inset(0 $inset $inset $inset);
    }

    .select2-dropdown--above {
      clip-path: inset($inset $inset 0 $inset);
    }
  }

  .tag-select.select2-selection--multiple {
    clip-path: none !important;

    .select2-selection__rendered {
      .select2-selection__choice {
        display: flex;
        align-items: center;

        padding: 2px 6px;

        font-size: 0.9rem;

        border: 0;
        border-left: 4px solid $tag-border;
        border-radius: 4px;

        background: $tag-bg;
        color: $tag-color;
      }

      .select2-selection__choice__remove {
        order: 99;

        background: $s2bs5-clear-tag-bg;

        margin-right: 0;
        margin-left: 4px;
        line-height: 1.2;

        &:hover {
          background: $s2bs5-clear-tag-bg;
        }
      }
    }
  }

  // Hide the results dropdown
  &.select2-container--open {
    .tag-select {
      &.select2-dropdown {
        display: none;
      }

      &.select2-selection {
        border-radius: $s2bs5-border-radius !important;
        border-color: $s2bs5-focus-border-color !important;
      }
    }
  }

  // Prevent input zooming on mobile devices
  @include media-breakpoint-down(sm) {
    .select2-search--inline {
      .select2-search__field {
        font-size: 16px;
      }
    }
  }
}

.tag-select {
  background-image: none;
}

.date-select,
.datetime-select,
.time-select {
  select {
    display: inline-block;
    width: auto;
  }

  .select2-container--bootstrap-5 {
    display: inline-block;
    width: auto !important;
  }
}
