.btn-toolbar {
  .btn,
  .btn-group,
  .input-group {
    + .btn,
    + .btn-group,
    + .input-group {
      margin-left: 5px;
    }
  }

  .btn-group {
    .btn,
    .btn-group {
      + .btn,
      + .btn-group {
        margin-left: 0;
      }
    }
  }
}

.primary-toolbar {
  .btn {
    --#{$prefix}btn-padding-x: 1.25rem;
    --#{$prefix}btn-padding-y: 0.5rem;
    --#{$prefix}btn-font-size: 1.35rem;

    @include media-breakpoint-down(md) {
      --#{$prefix}btn-padding-x: 0.75rem;
      --#{$prefix}btn-padding-y: 0.35rem;
      --#{$prefix}btn-font-size: 1.25rem;
    }
  }
}

.secondary-toolbar {
  .btn {
    --#{$prefix}btn-padding-x: #{$btn-padding-x-sm};
    --#{$prefix}btn-padding-y: #{$btn-padding-y-sm};
    --#{$prefix}btn-font-size: #{$btn-font-size-sm};

    > i {
      font-size: 80%;

      + .btn-label {
        margin-left: 3px;
      }
    }

    @include media-breakpoint-down(md) {
      --#{$prefix}btn-padding-x: 0.5rem;
      --#{$prefix}btn-padding-y: 0.2rem;
      --#{$prefix}btn-font-size: 0.75rem;
    }
  }
}
