@if $theme-bg {
  .theme-bg {
    background: $theme-bg;
  }


  .theme-bg-dark {
    background: gradient-mask(black, 0.1), $theme-bg;
  }

  .theme-bg-darker {
    background: gradient-mask(black, 0.2), $theme-bg;
  }

  .theme-bg-darkest {
    background: gradient-mask(black, 0.3), $theme-bg;
  }


  .theme-bg-light {
    background: gradient-mask(white, 0.1), $theme-bg;
  }

  .theme-bg-lighter {
    background: gradient-mask(white, 0.2), $theme-bg;
  }

  .theme-bg-lightest {
    background: gradient-mask(white, 0.3), $theme-bg;
  }
} @else {
  .theme-bg {
    background-color: $theme-bg-color;
  }


  .theme-bg-dark {
    background-color: shade-color($theme-bg-color, 10%);
  }

  .theme-bg-darker {
    background-color: shade-color($theme-bg-color, 20%);
  }

  .theme-bg-darkest {
    background-color: shade-color($theme-bg-color, 30%);
  }


  .theme-bg-light {
    background-color: tint-color($theme-bg-color, 10%);
  }

  .theme-bg-lighter {
    background-color: tint-color($theme-bg-color, 20%);
  }

  .theme-bg-lightest {
    background-color: tint-color($theme-bg-color, 30%);
  }
}
