@if $theme-bg {
  .flatpickr-calendar {
    background: $theme-bg;
  }
} @else {
  .flatpickr-calendar {
    background-color: $theme-bg-color;
  }
}

.flatpickr-calendar {
  &.arrowTop {
    &::after {
      border-bottom-color: mix($theme-bg-color, white, 95%);
    }
  }
}

.flatpickr-months {
  .flatpickr-prev-month,
  .flatpickr-next-month {
    &:hover svg {
      fill: lighten(theme-color("primary"), 15%);
    }
  }
}

.flatpickr-day.selected,
.flatpickr-day.startRange,
.flatpickr-day.endRange,
.flatpickr-day.selected.inRange,
.flatpickr-day.startRange.inRange,
.flatpickr-day.endRange.inRange,
.flatpickr-day.selected:focus,
.flatpickr-day.startRange:focus,
.flatpickr-day.endRange:focus,
.flatpickr-day.selected:hover,
.flatpickr-day.startRange:hover,
.flatpickr-day.endRange:hover,
.flatpickr-day.selected.prevMonthDay,
.flatpickr-day.startRange.prevMonthDay,
.flatpickr-day.endRange.prevMonthDay,
.flatpickr-day.selected.nextMonthDay,
.flatpickr-day.startRange.nextMonthDay,
.flatpickr-day.endRange.nextMonthDay {
  background: theme-color("primary");
  border-color: theme-color("primary");
}

.flatpickr-day.selected.startRange + .endRange:not(:nth-child(7n+1)),
.flatpickr-day.startRange.startRange + .endRange:not(:nth-child(7n+1)),
.flatpickr-day.endRange.startRange + .endRange:not(:nth-child(7n+1)) {
  box-shadow: -10px 0 0 theme-color("primary");
}

.flatpickr-day.week.selected {
  box-shadow: -5px 0 0 theme-color("primary"), 5px 0 0 theme-color("primary");
}
