.select2-container--bootstrap {
  .select2-results__option {
    &--highlighted[aria-selected] {
      background-color: $s2bs-dropdown-link-active-bg;
    }
  }

  &.select2-container--focus,
  &.select2-container--open {
    .select2-selection {
      border-color: $s2bs-input-border-focus !important;
      box-shadow: $s2bs-form-control-focus-box-shadow !important;
    }
  }

  .select2-selection--multiple.tag-select {
    .select2-selection__choice {
      background-color: $tag-bg;
      border-color: $tag-border;
    }
  }
}
