<turbo-stream action="append" target="modal">
  <template>
    <div class="modal fade" tabindex="-1" role="dialog" data-controller="modal">
      <div class="modal-dialog" role="document">
        <%= render template: "trestle/resource/edit", formats: [:html] %>
      </div>
    </div>
  </template>
</turbo-stream>
