<% table = table.renderer(self) %>

<div class="table-container">
  <%= content_tag(:table, class: table.classes, data: table.data) do %>
    <thead>
      <tr>
        <% table.columns.each do |column| %>
          <%= content_tag(:th, column.header, class: column.classes, data: column.data) %>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% collection.each do |instance| %>
        <%= content_tag(:tr, table.row.options(instance)) do %>
          <% table.columns.each do |column| %>
            <%= content_tag(:td, column.content(instance), class: column.classes, data: column.data) %>
          <% end %>
        <% end %>
      <% end %>
    </tbody>
  <% end %>
</div>
