%aside.app-sidebar
  %header.app-sidebar-header
    %button.navbar-toggle
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar

    = link_to "/", class: "navbar-brand" do
      %span.visible-xs-block.visible-lg-block Trestle Admin

  %nav.app-nav
    %ul
      %li
        = link_to "#" do
          %i.fa.fa-dashboard.nav-icon
          %span.nav-label Dashboard

    %ul
      %li.nav-header Group 1
      %li
        = link_to "#" do
          %i.fa.fa-user.nav-icon
          %span.nav-label Navigation Item 1
      %li.active
        = link_to "#" do
          %i.fa.fa-car.nav-icon
          %spna.nav-label Navigation Item 2

  %button.toggle-sidebar
