%aside.app-sidebar
  %header.app-sidebar-header
    %button.navbar-toggle
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar

    = link_to "Trestle Admin", "/", class: "navbar-brand"
