$brand-primary: darken(#428bca, 6.5%) !default;

$body-bg: #f3f3f3 !default;

$header-height: 50px !default;

$grid-gutter-width: 10px * 2;

$sidebar-width: 250px !default;
$sidebar-width-collapsed: 54px !default;
$sidebar-bg: #222 !default;

$sidebar-transition-duration: 250ms !default;

$footer-bg: rgba(white, 0.5) !default;
$footer-text: #888 !default;

$theme-bg-texture: "bright-squares" !default;
$theme-bg-texture-url: image-url("trestle/textures/#{$theme-bg-texture}.png") !default;
$theme-bg-gradient-strength: 0.05 !default;
$theme-bg-gradient: linear-gradient(rgba(white, $theme-bg-gradient-strength), rgba(black, $theme-bg-gradient-strength)) no-repeat !default;
$theme-bg-color: darken($brand-primary, 15%) !default;
$theme-bg: $theme-bg-texture-url, $theme-bg-gradient, $theme-bg-color !default;

$headings-font-weight: 300 !default;

$table-cell-padding: 6px 8px !default;
$table-bg-accent:    rgba(black, 0.02) !default;
$table-bg-hover:     rgba(black, 0.04) !default;
$table-border-color: rgba(black, 0.13) !default;
