$brand-primary: #4d6bb2 !default;
$brand-success: mix(#5cb85c, white, 80%) !default;
$brand-info:    mix(#5bc0de, white, 80%) !default;
$brand-warning: mix(#f0ad4e, white, 80%) !default;
$brand-danger:  mix(#d9534f, white, 80%) !default;

$body-bg: #f3f3f3 !default;

$header-height: 50px !default;

$grid-gutter-width: 10px * 2 !default;

$sidebar-width: 250px !default;
$sidebar-width-collapsed: 54px !default;
$sidebar-bg: #222 !default;

$content-header-background: rgba(white, 0.6);

$content-sidebar-width: 275px !default;
$content-sidebar-background: rgba(black, 0.025);

$sidebar-transition-duration: 250ms !default;

$footer-bg: rgba(white, 0.5) !default;
$footer-text: #888 !default;

$theme-bg-texture: "bright-squares" !default;
$theme-bg-texture-url: image-url("trestle/textures/#{$theme-bg-texture}.png") !default;
$theme-bg-gradient-strength: 0.05 !default;
$theme-bg-gradient: linear-gradient(rgba(white, $theme-bg-gradient-strength), rgba(black, $theme-bg-gradient-strength)) no-repeat !default;
$theme-bg-color: darken($brand-primary, 15%) !default;
$theme-bg: $theme-bg-texture-url, $theme-bg-gradient, $theme-bg-color !default;

$headings-font-weight: 300 !default;

$btn-default-bg:    #dbdbdb !default;
$btn-default-color: white !default;

$alert-padding:       15px 20px !default;
$alert-border-radius: 2px !default;

$alert-success-bg:     #7ac47a !default;
$alert-success-text:   white !default;
$alert-success-border: #66bb66 !default;

$alert-danger-bg:      #de7471 !default;
$alert-danger-text:    white !default;
$alert-danger-border:  #d85956 !default;

$table-cell-padding: 6px 8px !default;
$table-bg-accent:    rgba(black, 0.02) !default;
$table-bg-hover:     rgba(black, 0.04) !default;
$table-border-color: rgba(black, 0.13) !default;

$popover-shadow:  0 3px 6px rgba(black, .175) !default;
$dropdown-shadow: $popover-shadow !default;

$popover-arrow-width:        7px !default;
$dropdown-arrow-width:       $popover-arrow-width !default;
$dropdown-arrow-outer-width: $dropdown-arrow-width + 1px !default;

$input-bg-disabled: #fafafa !default;
