html, body {
  min-height: 100%;
  height: 100%;
}

html {
  position: relative;
}

body {
  display: flex;
}

.app-wrapper {
  flex: 1;

  display: flex;
  align-items: stretch;

  position: relative;
}

.app-container {
  flex: 1;
  display: flex;
  flex-direction: column;

  margin-top: $header-height;
}

.app-main {
  flex: 1 0 auto;
}

.app-footer {
  flex-shrink: 0;

  background: $footer-bg;
  color: $footer-text;

  padding: 7px 10px;
  font-size: 11px;

  .version {
    float: right;
  }
}

@media (min-width: $screen-sm-min) {
  .app-container {
    margin-top: 0;
    
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }

  .app-footer {
    padding-left: 20px;
    padding-right: 20px;
  }
}
