html, body {
  min-height: 100%;
}

html {
  position: relative;
  height: 100%;
}

body {
  display: flex;
  align-items: stretch;
}

.app-main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.app-container {
  flex: 1;
}

.app-footer {
  background: $footer-bg;
  color: $footer-text;

  padding: 7px 20px;
  font-size: 11px;

  .version {
    float: right;
  }
}
