html, body {
  min-height: 100%;
  height: 100%;
}

html {
  position: relative;
}

body {
  display: flex;
}

.app-wrapper {
  flex: 1;

  display: flex;
  align-items: stretch;

  position: relative;
  width: 100%;
  min-width: 0;
}

.app-container {
  flex: 1;
  display: flex;
  flex-direction: column;

  overflow-y: auto;
  overflow-x: hidden;

  -webkit-overflow-scrolling: touch;
}

.app-main {
  flex: 1 0 auto;
}

.app-footer {
  flex-shrink: 0;

  background: $footer-bg;
  color: $footer-text;

  padding: 7px 20px;
  font-size: 11px;

  .version {
    float: right;
  }
}

@include mobile {
  body {
    height: auto;
  }

  .app-container {
    padding-top: $header-height;
    -webkit-overflow-scrolling: auto;
  }

  .app-footer {
    padding-left: 10px;
    padding-right: 10px;
  }
}
