body {
  @include font-smoothing;
}

a {
  font-weight: bold;
}

.label-pill {
  border-radius: 10em !important;
}

@include mobile {
  h1 {
    font-size: $font-size-h1 - 6px;
  }

  h2 {
    font-size: $font-size-h2 - 4px;
  }

  h3 {
    font-size: $font-size-h3 - 2px;
  }
}
