body {
  @include font-smoothing;
}

a {
  font-weight: bold;
}

.empty, .blank {
  font-style: italic;
  opacity: 0.5;
}

.nowrap {
  white-space: nowrap;
}

.label-pill {
  border-radius: 10em !important;
}

.main-content-sidebar {
  font-size: 13px;

  h1, h2, h3, h4, h5, h6 {
    color: #666;
    border-bottom: 1px solid #ddd;

    padding-top: 5px;
    padding-bottom: 0.5em;

    margin-top: 20px;
    margin-bottom: 15px;
  }

  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 21px;
  }

  h4 {
    font-size: 17px;
  }

  h5 {
    font-size: 14px;
  }

  h6 {
    font-size: 12px;
  }
}

@include mobile {
  h1 {
    font-size: $font-size-h1 - 6px;
  }

  h2 {
    font-size: $font-size-h2 - 4px;
  }

  h3 {
    font-size: $font-size-h3 - 2px;
  }
}
